{% extends "base_generic.html" %}

{% block content %}
  <h1>Silver Street Book List</h1>
  {% if book_list %}
  <table class="table">
    <thead>
        <tr>
            <th>ISBN</th>
            <th>Title</th>
            <th>Author</th>
            <th>Edit</th>
        </tr>
    </thead>
    {% for book in book_list %}
      <tbody>
        <tr>
            <td><strong>{{ book.isbn }}</strong></td>
            <td><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></td>
            <td>({{book.author}})</td>
            <td><a href="{{ book.get_absolute_url }}">Edit</a></td>
        </tr>
      </tbody>
    {% endfor %}
  </table>
  {% else %}
    <p>There are no books in the library.</p>
  {% endif %}
{% endblock %}